<div>
  <div class="row">
    <ol class="breadcrumb">
      <li class="active">首页</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">产品列表</div>
        <div class="panel-body">
          <ul class="list-inline">
            <li ng-repeat="prod in prods"><a ng-href="#/product/code/{{prod.code}}">{{prod.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">标签列表</div>
        <div class="panel-body">
          <ul class="list-inline">
            <li ng-repeat="label in labels"><a ng-href="#/product/label/{{label.id}}">{{label.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default" id="container1"></div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default" id="container2"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">备注列表</div>
        <div class="panel-body" ng-hide="hasComments()">空空如也</div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="comment in comments">
            <div style="margin-bottom: 20px">{{comment.content}}</div>
            <span style="float: right; margin-top: -15px"> {{comment.commitTime | date:"yyyy-MM-dd HH:mm:ss"}} </span>
            <span style="float: left; margin-top: -15px">
              <a ng-href="#/product/code/{{comment.rltKey}}">{{comment.rltName}}</a> 
             </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
