<div>
  <div class="row">
    <ol class="breadcrumb">
      <li class="active">交易分组</li>
    </ol>
  </div>
  <div style="height: 45px; border-bottom: 3px solid #ddd;">
    <div class="fr mb20">
      <button type="button" class="btn btn-primary" ng-click="addTradeGroupModal()">添加分组</button>
    </div>
  </div>
  <div style="clear: both">
    <table id="trade-group-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>名称</th>
          <th>备注</th>
          <th>首次交易时间</th>
          <th>最后交易时间</th>
          <th>未平仓</th>          
          <th>手续费</th>
          <th>收益</th>
          <th>交易额</th>
          <th>单数</th>
          <th>操作</th>
        </tr>
      </thead>
    </table>
  </div>
  <input type="hidden" ng-click="detailTradeGroupModal();" id="detailId"></input>
  <input type="hidden" ng-click="updateTradeGroupModal();" id="updateId"></input>
  <script type="text/ng-template" id="detailTradeGroupModal.html">
    <div class="modal-header">
      <h3 class="modal-title">订单详细</h3>
    </div>
    <div class="modal-body">
        <ul class="ul-none cb h20">
          <li class="fl mr10">名称：</li> 
          <li class="fl mr50">{{group.name}}</li>
          <li class="fl mr10">备注：</li>
          <li class="fl mr10">{{group.comment}}</li>
        </ul>
       <ul class="ul-none cb h20">
          <li class="fl mr10">首次交易时间：</li>
          <li class="fl mr50">{{group.firstTradeDt | date:'yyyy-MM-dd HH:mm:ss'}}</li>
          <li class="fl mr10">最后交易时间：</li>
          <li class="fl mr50">{{group.lastTradeDt | date:'yyyy-MM-dd HH:mm:ss'}}</li>
        </ul>
        <ul class="ul-none cb h20">
          <li class="fl mr10">收益：</li>
          <li class="fl mr50 fs20" ng-class="{'price-up':group.profit>0,'price-down':group.profit<0}">{{group.profit | number}}</li>
          <li class="fl mr10">手续费：</li>
          <li class="fl mr50">{{group.fee | number}}</li>
          <li class="fl mr10">交易额：</li>
          <li class="fl mr50">{{group.amount | number}}</li>
        </ul>
   
        <table id="elmts-table" class="table table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>合约</th>
            <th>类型</th>
            <th>开仓时间</th>
            <th>平仓时间</th>
            <th>开仓价格</th>
            <th>平仓价格</th>
            <th>盈利价差</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
    </div>
  </script>
  <script type="text/ng-template" id="saveTradeGroupModal.html">
    <div class="modal-header">
      <h3 class="modal-title">保存分组</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
          <label for="save.name">名称</label>
          <input type="text" class="form-control" id="save.name" ng-model="save.name">
        </div>
        <div class="form-group">
          <label for="save.comment">备注</label>
          <input type="text" class="form-control" id="save.comment" ng-model="save.comment">
        </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="save.name == undefined || save.name.length == 0">提交</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
    </div>
  </script>
</div>
