body {
  padding-bottom: 20px;
  color: #505050;
  background: #eee;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.price-up {
  color: #ff0000;
}

.price-down {
  color: #008000;
}

.label-wall-chart {
  height: 400px;
  background-color: #ffffff;
}

.label-wall-chart-toolbox {
  position: relative;
  float: left;
  top: -390px;
  left: 10px;
}

.label-wall-btn {
  padding: 1px 6px;
}

.label-wall-imax-chart {
  height: 600px;
  background-color: #ffffff;
}

.label-wall-imax-chart-toolbox {
  position: relative;
  float: left;
  top: -590px;
  left: 10px;
}

.label-wall-head-toolbox {
  padding-bottom: 5px;
}

.label-wall-head-select {
  width: 100px;
}

.label-wall-head-time {
  padding-left: 50px;
}

.product-chart-toolbox {
  position: relative;
  float: left;
  top: -410px;
  left: 10px;
}

.trend-prod-chart-toolbox{
  position: relative;
  float: left;
  top: -610px;
  left: 10px;
}

.trade-btn {
  padding: 1px 6px;
  margin-right: 10px;
}

.ul-none {list-style:none; }
.fl {float:left;}
.fr {float:right;}
.cb {clear:both;}
.h20 {height: 20px}
.fs20 {font-size: 20px}
.fs24 {font-size: 24px}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}
.mr10 {margin-right: 10px;}
.mr20 {margin-right: 20px;}
.mr30 {margin-right: 30px;}
.mr40 {margin-right: 40px;}
.mr50 {margin-right: 50px;}
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mb40 {margin-bottom: 40px;}
.mb50 {margin-bottom: 50px;}
.ml10 {margin-left: 10px;}
.ml20 {margin-left: 20px;}
.ml30 {margin-left: 30px;}
.ml40 {margin-left: 40px;}
.ml50 {margin-left: 50px;}