<div>
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#/product/labels">产品</a></li>
      <li class="active">{{product.info.name}}</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-2">
      <accordion close-others="labelMenu.closeOthers">
        <accordion-group panel-class="panel-primary" ng-repeat="label in labelMenu.labels">
          <accordion-heading>
            <div>{{label.name}}<span class="badge" style="float: right">{{label.products.length}}</span></div>
          </accordion-heading>
          <div style="margin: -16px">
            <span type="button" class="list-group-item" style="cursor: pointer;" ng-click="selectCode(product.code)" ng-repeat="product in label.products">{{product.name}}</span>
          </div>
        </accordion-group>
      </accordion>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-3">
            <h1>{{product.info.name}} <small>{{product.info.code}}</small></h1>
            <h5>规格：{{product.info.unit}} {{product.info.unitDesc}}</h5>
            <div ng-repeat="label in product.info.labels">
              <button type="button" ng-click="toLabel(label.labelId)" class="btn btn-primary" style="margin-right: 10px;margin-bottom: 5px">{{label.labelName}}</button>
            </div>
          </div>
          <div class="col-md-9">
            <h3>{{product.price.price | number}} <small>{{product.price.priceTime | date:"yyyy-MM-dd HH:mm:ss"}}</small></h3>
            <table class="table table-condensed table-bordered">
              <tr>
                <th>实时涨幅</th>
                <th>日K涨幅</th>
              </tr>
              <tr>
                <td>1分：<span ng-class="{'price-up':product.price.last1RIncPct>0,'price-down':product.price.last1RIncPct<0}">{{product.price.last1RIncPct | percentage }}</span></td>
                <td>1日：<span ng-class="{'price-up':product.price.last1KIncPct>0,'price-down':product.price.last1KIncPct<0}">{{product.price.last1KIncPct | percentage }}</span></td>
              </tr>
              <tr>
                <td>5分：<span ng-class="{'price-up':product.price.last5RIncPct>0,'price-down':product.price.last5RIncPct<0}">{{product.price.last5RIncPct | percentage }}</span></td>
                <td>5日：<span ng-class="{'price-up':product.price.last5KIncPct>0,'price-down':product.price.last5KIncPct<0}">{{product.price.last5KIncPct | percentage }}</span></td>
              </tr>
              <tr>
                <td>10分：<span ng-class="{'price-up':product.price.last10RIncPct>0,'price-down':product.price.last10RIncPct<0}">{{product.price.last10RIncPct | percentage }}</span></td>
                <td>10日：<span ng-class="{'price-up':product.price.last10KIncPct>0,'price-down':product.price.last10KIncPct<0}">{{product.price.last10KIncPct | percentage }}</span></td>
              </tr>
              <tr>
                <td>30分：<span ng-class="{'price-up':product.price.last30RIncPct>0,'price-down':product.price.last30RIncPct<0}">{{product.price.last30RIncPct | percentage }}</span></td>
                <td>30日：<span ng-class="{'price-up':product.price.last30KIncPct>0,'price-down':product.price.last30KIncPct<0}">{{product.price.last30KIncPct | percentage }}</span></td>
              </tr>
              <tr>
                <td>60分：<span ng-class="{'price-up':product.price.last60RIncPct>0,'price-down':product.price.last60RIncPct<0}">{{product.price.last60RIncPct | percentage }}</span></td>
                <td>60日：<span ng-class="{'price-up':product.price.last60KIncPct>0,'price-down':product.price.last60KIncPct<0}">{{product.price.last60KIncPct | percentage }}</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default" style="height: 300px" id="realtimeChart"></div>
          <div class="panel panel-default" style="height: 300px" id="dailyChart"></div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading" style="height: 55px;">
              <span style="font-size: 20px">备注列表</span>
              <span style="float: right;">
              <button type="button" class="btn btn-default" ng-click="openModal()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
              </span>
            </div>
            <div class="panel-body" ng-hide="hasComments()">空空如也</div>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="comment in product.comments">
                <div style="margin-bottom: 20px">{{comment.content}}</div>
                <span style="float: right; font-size: 10px; margin-top: -15px"> {{comment.commitTime | date:"yyyy-MM-dd HH:mm:ss"}} </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/ng-template" id="myModalComment.html">
    <div class="modal-header">
      <h3 class="modal-title">添加备注</h3>
    </div>
    <div class="modal-body">
      <textarea class="form-control" rows="5" placeholder="写点啥呢？" ng-model="content"></textarea>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="content.length == 0">提交</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
  </script>
</div>
