<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <accordion close-others="labelMenu.closeOthers">
          <accordion-group panel-class="panel-primary" ng-repeat="label in labelMenu.labels">
            <accordion-heading>
              <div>{{label.name}}</div>
            </accordion-heading>
            <div style="margin: -16px">
              <span type="button" class="list-group-item" style="cursor: pointer;" ng-click="selectCode(product.code)" ng-repeat="product in label.products">
                {{product.name}}
                </span>
            </div>
          </accordion-group>
      </div>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-3">
            <h1>{{product.info.name}} <small>{{product.info.code}}</small></h1>
            <h5>规格：{{product.info.unit}} {{product.info.unitDesc}}</h5>
            <div ng-repeat="label in product.info.labels">
              <button type="button" ng-click="toLabel(label.labelId)" class="btn btn-primary" style="margin-right: 10px;margin-bottom: 5px">{{label.labelName}}</button>
            </div>
          </div>
          <div class="col-md-9">
            <h3>{{product.price.price | number}} <small>{{product.price.priceTime}}</small></h3>
            <table class="table table-condensed table-bordered">
              <tr>
                <th>实时涨幅</th>
                <th>日K涨幅</th>
              </tr>
              <tr>
                <td>1分：<span ng-class="{'price-up':product.price.last1RIncPct>0,'price-down':product.price.last1RIncPct<0}">{{product.price.last1RIncPct | percentage }}</span></td>
                <td>1日：<span ng-class="{'price-up':product.price.last1KIncPct>0,'price-down':product.price.last1KIncPct<0}">{{product.price.last1KIncPct | percentage }}</span></td>
              </tr>
              <tr>
                <td>5分：<span ng-class="{'price-up':product.price.last5RIncPct>0,'price-down':product.price.last5RIncPct<0}">{{product.price.last5RIncPct | percentage }}</span></td>
                <td>5日：<span ng-class="{'price-up':product.price.last5KIncPct>0,'price-down':product.price.last5KIncPct<0}">{{product.price.last5KIncPct | percentage }}</span></td>
              </tr>
              <tr>
                <td>10分：<span ng-class="{'price-up':product.price.last10RIncPct>0,'price-down':product.price.last10RIncPct<0}">{{product.price.last10RIncPct | percentage }}</span></td>
                <td>10日：<span ng-class="{'price-up':product.price.last10KIncPct>0,'price-down':product.price.last10KIncPct<0}">{{product.price.last10KIncPct | percentage }}</span></td>
              </tr>
              <tr>
                <td>30分：<span ng-class="{'price-up':product.price.last30RIncPct>0,'price-down':product.price.last30RIncPct<0}">{{product.price.last30RIncPct | percentage }}</span></td>
                <td>30日：<span ng-class="{'price-up':product.price.last30KIncPct>0,'price-down':product.price.last30KIncPct<0}">{{product.price.last30KIncPct | percentage }}</span></td>
              </tr>
              <tr>
                <td>60分：<span ng-class="{'price-up':product.price.last60RIncPct>0,'price-down':product.price.last60RIncPct<0}">{{product.price.last60RIncPct | percentage }}</span></td>
                <td>60日：<span ng-class="{'price-up':product.price.last60KIncPct>0,'price-down':product.price.last60KIncPct<0}">{{product.price.last60KIncPct | percentage }}</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default" style="height: 300px" id="realtimeChart"></div>
          <div class="panel panel-default" style="height: 300px" id="dailyChart"></div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-primary" style="margin-left: -15px">
            <div class="panel-heading">备注列表</div>
            <ul class="list-group">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
